.timer-game {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 500;
  color: grey;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 3px 0 rgba($color: #000000, $alpha: 0.5);
}
